nav{
background-color:rgb(57, 127, 241);
color:white;
font-size:1em;
}
#a{
color:white;
margin-left:102px;
padding-top:10px;
padding-bottom:10px;
font-size:18px;
}
#a2{
color:white;
margin-left:10px;
padding-top:10px;
padding-bottom:10px;
font-size:18px;
}
#id{
margin-left:10px;
padding-top:10px;
padding-bottom:10px;
font-size:18px;
color:white;
}
#img{
margin-top:10px;

}
#ez{
text-align:center;
background-color: transparent;

}
#h1{
margin-left:130px;

}

